.search {
  position: relative;
  &__input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    padding-left: 50px;
    min-width: 400px;
    border-radius: 15px;
    font-size: 20px;
    &:focus {
      transition: 0.5s all ease-in;
      border: 1px solid orange;
    }
  }
  &__icon {
    &_search {
      position: absolute;
      top: 40%;
      left: 5%;
    }
    &_close {
      cursor: pointer;
      position: absolute;
      top: 40%;
      right: 5%;
      opacity: 0.5;
      &:hover {
        transition: 0.5s all ease-in;
        color: orange;
        opacity: 1;
      }
    }
  }
}
